<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">

</head>

{{!-- <body>
    <header class="header">
        <div>
            <nav class="navmenu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/reservar">Reserve um horário!</a></li>
                    <li><a href="/sobre">Sobre nós</a></li>
                    <li><a href="/admreservas">Horários reservados</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header> --}}

    {{{ body }}}

    <script src="js/main.js"></script>
    <script src="php-email-form/validate.js"></script>
</body>

</html>