<h1>Login</h1>

<form action="/login" method="post">
    <label for="email">E-mail: </label>
    <input type="email" name="email" id="email" required>
    <label for="senha">Senha: </label>
    <input type="password" name="senha" id="senha" required>
    <button type="submit">Login</button>
</form>

Não possui uma conta? <a href="/registrar">Cadastre-se agora!</a>