<style>
    button {
        margin-top: 50px;
    }
    .row {
        display: flex;
        justify-content: center;
    }

    input[type=password] {
        font-size: 14px;
        box-shadow: none;
        border-radius: 0;
        color: var(--default-color);
        background-color: color-mix(in srgb, var(--background-color), transparent 20%);
        border-color: color-mix(in srgb, var(--default-color), transparent 80%);
    }

    input[type=password]:focus {
        border-color: var(--accent-color);
    }

    input[type=password]::placeholder {
        color: color-mix(in srgb, var(--default-color), transparent 70%);
    }
</style>

<section id="book-a-table" class="book-a-table section">  
    <div class="container section-title">
        <h2>Entre</h2>
        <p><span>Faça Seu</span> <span class="description-title">Login<br></span></p>
    </div>

    <div class="container">

        <div class="row g-0">

            <div class="col-lg-4 reservation-img" style="background-image: url(img/reservation.jpg);"></div>

            <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
                <form action="/login" method="post" role="form" class="php-email-form">
                    <div class="row gy-4">
                        <div class="col-lg-4 col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Seu E-mail"
                                required="">
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <input type="password" name="senha" class="form-control" id="senha" placeholder="Sua Senha"
                                required="">
                        </div>
                    </div>
                    <div class="text-center"><button type="submit">Login</button></div>
                </form>
            </div>

        </div>
        Não possui uma conta? <a href="/registrar">Cadastre-se</a>
    </div>
</section>