<h1>Registre-se agora</h1>

<form action="/registrar" method="post">
    <label for="name">Nome: </label>
    <input type="text" name="name" id="name" required>
    <label for="telefone">Telefone: </label>
    <input type="number" name="telefone" id="telefone" required>
    <label for="email">E-mail: </label>
    <input type="email" name="email" id="email" required>
    <label for="senha">Senha: </label>
    <input type="password" name="senha" id="senha" required>
    <button type="submit">Cadastrar</button>
</form>

Já possui uma conta? <a href="/login">Entre</a>