<h1>Registre-se agora</h1>

<form action="/registrar" method="post">
    <label for="name">Nome: </label>
    <input type="text" name="name" required>

    <label for="telefone">Telefone: </label>
    <input type="number" name="telefone" required>

    <label for="email">E-mail: </label>
    <input type="email" name="email" required>

    <label for="senha">Senha: </label>
    <input type="password" name="senha" required>

    <input type="submit" value="Reservar">
</form>

Já possui uma conta? <a href="/login">Entre</a>